/*General style page*/

body {
    background-color:rgb(0, 128, 113);
    
    margin:0;
    padding: 0;
    
}

header {
    
    color: white;
}

/* styles the table*/
table,th,td {
    border: 1px solid black;
    

   
}

/* styles the h1*/
h1 {
    text-align: center;

}
th,td {
    border: 2px solid gray;
    padding: 10px;
}


